html {
  	box-sizing: border-box;
	font-size:16px;
    font-family: "Fuzzy Bubbles", sans-serif;
    scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
.main-card{
    width: 100%;
    height: 100vh;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wishes{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.card-img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: center;
}
.main{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
}
.card{
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main > :nth-child(even){
    background-color: darkcyan;
}
.main > :nth-child(odd){
    background-color: sandybrown;
}
.music{
    visibility: hidden;
}
.isvisible{
    visibility: visible;
}
.llaves-container{
    width: 100%;
    height: 100px;
    position: relative;
  
    
}
.llave1,
.llave2,
.llave3{
    width: 90px;
    height: 90px;

}
.llave1{
    position: absolute;
    top:0;
    left:20px;
    animation: movekeys 2s ease infinite;
}
.llave2{
    position: absolute;
    top:-10px;
    left:150px;
    animation: moveykeys 2s ease infinite;
}
.llave3{
    position: absolute;
    top:0;
    left: 250px;
    animation: movekeys 3s linear infinite;
}
@keyframes movekeys {
    0%{
        transform: translateX(-5px);    
    }
    25%{
        transform: translateX(0px); 
    }
    50%{
        transform: translateX(5px); 
    }
    75%{
        transform: translateX(-5px); 
    }
    100%{
        transform: translateX(0px); 
    }
}
@keyframes moveykeys{
    0%{
        transform: translateY(0px);  
    }
    25%{
        transform: translateY(-7px); 
    }
    50%{
        transform: translateY(0px); 
    }
    75%{
        transform: translateY(7px); 
    }
    100%{
        transform: translateY(0px); 
    }
    
}
.gato{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.parrafo-seleccion{
    text-align: justify;
    padding: 1rem;
}
.audio-select{
    width: 50%;
    height: auto;
    background-color: transparent;
    font-size: 1.2rem;
    color:sandybrown;
}
.carrousel{
    width: 80%;
    height: 200px;
    /* border: thick solid red; */
    display: grid;
    grid-template-columns: repeat(5,100%);
    overflow-x: hidden;
    
}
.slides{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 900;
    /* border: thick solid yellow; */
    
}
.slides-animation{
    animation: carrouselanimation 20s linear 2s infinite;
}
.cake-photo{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.slides:nth-child(even){
    color: sandybrown;
    background-color: darkcyan;
}
.slides:nth-child(odd){
    color: darkcyan;
    background-color: sandybrown;
}
@keyframes carrouselanimation{
    0% , 10%{
        transform: translateX(0%);
    }
    10% , 20%{
        transform: translateX(-100%);
    }
    30% , 40%{
        transform: translateX(-200%);
    }
    50% , 60%{
        transform: translateX(-300%);
    }
    70% , 80%{
        transform: translateX(-400%);
    }
    90% , 100%{
        transform: translateX(-500%);
    }
}
.puzzle-container{
    width: 90%;
    height: 40vh;
    /* border: thick solid sandybrown; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    margin: 1rem 0;
}
.puzzle-photo{
    width: 100%;
    height: 143px;
    object-fit: cover;
    object-position: center;
}
.p1,
.p2,
.p3,
.p4,
.p5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.p1{
    grid-column: 1/3;
    grid-row: 1/3;
    /* border: thick solid red; */
    
}
.p1a,
.p6a{
    animation: puzzlemovep1 5s linear;
}
.p2{
    grid-column: 3/5;
    grid-row: 1/3;
    /* border: thick solid red; */
    
}
.p2a,
.p7a{
    animation: puzzlemovep2 5s linear;
}
.p3{
    grid-column: 1/3;
    grid-row: 3/5;
    /* border: thick solid red; */
    
}
.p3a,
.p8a{
    animation: puzzlemovep3 5s linear;
}
.p4{
    grid-column: 3/5;
    grid-row: 3/5;
    /* border: thick solid red; */
    
}
.p4a,
.p9a{
    animation: puzzlemovep4 5s linear;
}
.p5{
    grid-column: 2/4;
    grid-row: 2/4;
    /* border: thick solid red; */
}
@keyframes puzzlemovep1{
    0%{
        transform: translate(-100px,-100px);
    }
    50%{
        transform: translate(-50px,-50px);
    }
    100%{
        transform: translate(0,0);
    }
}
@keyframes puzzlemovep2{
    0%{
        transform: translate(100px,-100px);
    }
    50%{
        transform: translate(50px,-50px);
    }
    100%{
        transform: translate(0,0);
    }
}
@keyframes puzzlemovep3{
    0%{
        transform: translate(-100px,100px);
    }
    50%{
        transform: translate(-50px,50px);
    }
    100%{
        transform: translate(0,0);
    }
}
@keyframes puzzlemovep4{
    0%{
        transform: translate(100px,100px);
    }
    50%{
        transform: translate(50px,50px);
    }
    100%{
        transform: translate(0,0);
    }
}
.words-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}
.foco,
.creative{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    margin: 2rem 0;
    border-radius: 50%;
}
.foco{
    animation: focoanimation 4s linear infinite;
}
@keyframes focoanimation {
    0%{
        transform: translateY(-150%);
    }
    25%{
        transform: translateY(-20%);
    }
    50%{
        transform: translateY(0%);
    }
    75%{
        transform: translateY(-20%);
    }
    100%{
        transform: translateY(-150%);
    }
}
.creative{
    animation: creativeanimation 5s ease-in infinite;
}
@keyframes creativeanimation{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(25%);
    }
    50%{
        transform: translateY(25%);
    }
    /*75%{
        transform: translateY(-25%);
    }*/
    100%{
        transform: translateY(0);
    }
}
.next-b{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    row-gap: 1rem;
    justify-items: center;
}
.planes-title{
    color:sandybrown;
    font-size: 1.5rem;
}
.next-b > p{
    color: sandybrown;
    font-weight: 900;
    font-size: 1.2rem;
    padding: 0 1rem;
}
.i-photo{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.museum{
    background-image: url('./images/museum.jpg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    
}
.art-name{
   
    font-size: 1.1rem;
}
.flip-card{
    width: 270px;
    height: 250px;
    /* border: thick solid red; */
    position: relative;
    transition: transform 1s ease-in-out;
    perspective: 10rem;
    transform-style: preserve-3d;
}
.flip-card img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
}
.flip-f{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-front{
        transform: rotateY(0deg);
}
.flip-back{
        transform:rotateY(180deg)
}
.flip-card:hover{
        transform: rotateY(180deg);
}
.flip-card:active{
        transform: rotateY(180deg);
}




